# Empêche de monter les dossiers IDE de chaque microservice
**/.idea/
**/*.iml
**/.vscode/

# Empêche de monter les dossiers de compilation (très lourd)
**/target/
**/*.class

# Fichiers système
.DS_Store
Thumbs.db